[Desktop Entry]
Version=1.0
Type=Application
Name=firefox
Comment=firefox
Exec=/usr/bin/firefox/firefox
Icon=firefox
Path=
Terminal=false
StartupNotify=false
